//$toolbar-background-color : rgba(185, 202, 203, 0.95);
$toolbar-background-color : rgba(255, 255, 255, 0.9);
$toolbar-border : 3px ridge;
$toolbars-shadow-color : rgba(224, 224, 224, 0.555);

.toolbar{
    display: inline-block;
    position: relative;
    border: $toolbar-border;
    background-color: $toolbar-background-color;
    padding: 5px;
    border-radius: 5px;
    z-index: 100;
  }
  
.toolbar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: medium;
    
  }
  
.toolbar-header-expandable{
    @extend .toolbar-header;
    cursor: pointer;
}

 
.toolbar-modal{
    display: inline-block;
    position: relative;
    border: $toolbar-border;
    background-color: $toolbar-background-color ;
    padding: 5px;
    border-radius: 5px;
    z-index: 100;
  }
  
.toolbar-animated{
    width: 0px;
    transition: width 200ms linear;
    overflow: hidden;
  }

.toolbar-wide{
    display: block;
    position: relative;
    border: $toolbar-border;
    background-color: $toolbar-background-color;
    padding: 5px;
    border-radius: 5px;
    z-index: 100;
  }

@mixin sideBar {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    z-index: 1;
  }
  
.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: medium;
  }
  
    
.left-sidebar{
    @include sideBar;
    
  }
.right-sidebar{
    @include sideBar;
    right: 0px;
  }
  
.left-sidebar .toolbar{
    box-shadow: 2px 2px 4px $toolbars-shadow-color;
  }

.right-sidebar .toolbar{
    box-shadow: -2px 2px 4px $toolbars-shadow-color;
  }

.status-bar {
    -align-self: end;
  }
.status-bar-content {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2em; 
    font-size: medium;
  }